---
import GalleryList from "@components/pages/gallery/GalleryList.svelte";
import UnderPageLayout from "@layouts/UnderPageLayout.astro";
import { client } from "@libs/microcms";
import type { MicroCMSImage } from "microcms-js-sdk";
import type { Gallery } from "src/types/microcms/gallery";

let images: MicroCMSImage[] = [];

try {
  const content = await client.getObject<Gallery>({ endpoint: "gallery" });
  images = content.images;
} catch (e) {
  // 初期状態で404が返ってくるので、エラーを握りつぶす
  console.error(e);
}
---

<UnderPageLayout mainLabel="GALLERY" subLabel="ギャラリー" title="ギャラリー">
  <p>
    RelaxCafeへようこそ。以下に、私たちのカフェの魅力を伝えるための写真ギャラリーをご紹介します。これらの写真から、私たちが提供する心地よい空間とおいしい料理・ドリンクの一部をご覧いただけます。実際に店舗でこれらすべてをご体験いただくのが最良ではありますが、訪れる前の小さな予見としてご利用いただければ幸いです。
  </p>
  <GalleryList images={images} />
</UnderPageLayout>
