---
import { Picture } from "@astrojs/image/components";
import UnderPageLayout from "@layouts/UnderPageLayout.astro";
---

<UnderPageLayout mainLabel="SHOP" subLabel="店舗情報" title="店舗情報">
  <p>
    RelaxCafeへようこそ。私たちは都会の喧騒から一歩離れ、心地よい時間を過ごせる空間を提供しています。
  </p>
  <div class="mt-5 lg:mt-10">
    <Picture
      src={import("@images/shop/basic.jpg")}
      widths={[320, 640, 960, 1280, 1920]}
      aspectRatio={1920 / 1280}
      width={640}
      height={426}
      sizes="60vw"
      alt=""
    />
  </div>
  <dl
    class="mt-10 lg:mt-16 [&_dt:not(:first-child)]:mt-5 [&_dt]:text-lg [&_dt]:font-extrabold"
  >
    <dt>住所:</dt>
    <dd>〒123-4567<br />東京都かけそら市3-20-1</dd>
    <dt>営業時間:</dt>
    <dd>月曜日 - 金曜日: 8:00 - 22:00<br />土曜日 - 日曜日: 10:00 - 20:00</dd>
    <dt>アクセス:</dt>
    <dd>
      かけそら駅から徒歩5分。緑豊かな公園の隣に位置し、静寂と落ち着きを感じることができます。
    </dd>
    <dt>コンセプト:</dt>
    <dd>
      RelaxCafeは、「日常に彩りを添える、あなたのお気に入りの場所」をコンセプトに、新鮮な食材を使用した美味しい飲食メニューと、心地よい音楽、暖かな雰囲気を提供しています。ソファー席からは公園の緑が見え、落ち着いた時間を過ごすことができます。
    </dd>
    <dt>連絡先:</dt>
    <dd>
      Tel:
      <a class="underline" href="tel:+03-1234-5678">03-1234-5678</a>
      <br />Email:
      <a class="underline" href="mailto:info@relaxcafe.sample.com">
        info@relaxcafe.com
      </a>
    </dd>
  </dl>
</UnderPageLayout>
