---
import { formatDate } from "@libs/formatDate";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  date: string;
}

const { date, ...props } = Astro.props;
---

<div {...props}>
  <time datetime={date}>{formatDate(date)}</time>
</div>
