---
import { Image } from "@astrojs/image/components";
---

<header
  class="fixed inset-x-0 top-0 z-10 flex h-32 items-center justify-start pl-5 sm:h-40 sm:justify-start"
>
  <nav
    class="hidden w-1/2 sm:block sm:px-6 sm:pr-24 md:px-10 md:pr-28 lg:px-16 lg:pr-36 xl:px-20 xl:pr-40"
  >
    <ul class="flex items-center justify-around text-sm">
      <li>
        <a href="/menu" class="flex flex-col items-center">
          <span class="font-english text-xl">MENU</span>
          <span class="mt-1 font-sans text-xs">メニュー</span>
        </a>
      </li>
      <li>
        <a href="/shop" class="flex flex-col items-center">
          <span class="font-english text-xl">SHOP</span>
          <span class="mt-1 font-sans text-xs">店舗情報</span>
        </a>
      </li>
    </ul>
  </nav>
  <a
    href="/"
    class="flex flex-col items-center transition-opacity duration-[0.4s] sm:absolute sm:inset-x-0 sm:mx-auto sm:w-40 sm:hover:opacity-70"
  >
    <Image
      src={import("@images/logo.png")}
      alt="ロゴ"
      width={348}
      height={319}
      loading="eager"
      class="w-16 sm:w-20"
    />
    <p class="ml-2 font-english text-xs sm:ml-0 sm:mt-2 sm:text-base">
      RELAX CAFE
    </p>
  </a>
</header>
